* {
  margin: 0;
  padding: 0;
}

.bg-aqua {
  background-color: aqua;
}

.bg-bisque {
  background-color: bisque;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.h-50 {
  height: 50%;
}

.w-50 {
  width: 50%;
}

.h-screen {
  height: 100vh;
}
